.navbar {
    position: absolute;
    top: 2em;
    width: 9em;
    background-color: #f4f4f4;
    padding: 10px;
    list-style-type: none;
    border: 1px solid #ccc;
}

.navbar li {
    margin-bottom: 0.5em;
}

.navbar a {
    text-decoration: none;
    color: #333;
}